@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Josefin Sans", sans-serif;
    color: rgb(65, 34, 34);
}

.fanny {
    font-family: 'Parisienne', cursive; /* Appliquer la police */
    font-size: 36px; /* Ajuster la taille de la police */
    color: #333; /* Couleur du texte */
}

html { 
    background-image: url('../asset/6856488V2.jpg');
    background-size: cover; /* L'image couvre tout l'écran */
    background-position: center; /* L'image est centrée */
    background-repeat: no-repeat; /* L'image ne se répète pas */
    background-attachment: fixed; /* L'image reste fixe quand on fait défiler la page */
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

  body {

}

nav {
    position: fixed;                /* Fixe la nav sur le côté gauche */
    top: 0;                         /* Positionne la nav en haut de la page */
    left: 0;                        /* Positionne la nav à gauche de la page */
    height: 100vh;                  /* La navigation prend toute la hauteur de la fenêtre */
    width: 200px;                   /* Définit la largeur de la barre de navigation */
    background-color: #f0f0f0;      /* Couleur de fond de la nav */
    padding: 20px;                  /* Ajoute de l'espace à l'intérieur de la nav */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);  /* Ombre pour un effet visuel */
}

nav>a {
    display: block;                 /* Affiche les liens verticalement */
    text-decoration: none;
    margin-bottom: 20px;            /* Espace entre chaque lien */
    font-size: 18px;
    color: #333;
    position: relative;
}

nav>a:hover::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #66B7AD;
    position: absolute;
    left: 0px;
    bottom: -5px;                  /* Ajuste la position de l'effet de survol */
}

.sidebar {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.sidebar>a {
    padding: 7px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.sidebar>a:hover {
    opacity: 0.5;
    transition: 0.5s;
}

header {
    width: 50%;
    margin: 100px auto;
    position: relative;
}

header>h2 {
    margin: 25px 0;
}

.prim_btn {
    background: #1E3A8A; /* Bleu profond */
    color: #fff; /* Couleur du texte en blanc pour le contraste */
    padding: 12px 20px; /* Réduire légèrement la taille pour plus de finesse */
    border-radius: 25px; /* Arrondir davantage les bords pour un effet plus doux */
    border: 1px solid #A7C7E7; /* Affiner le contour et utiliser une couleur plus douce */
    width: auto; /* Laisse le texte déterminer la largeur */
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 16px; /* Taille de texte légèrement plus grande pour l'équilibre */
    font-weight: 500; /* Un poids intermédiaire pour plus de finesse */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Une légère ombre pour créer de la profondeur */
    transition: all 0.3s ease; /* Transition douce pour les interactions */
    cursor: pointer; /* Curseur en forme de main */
}

.prim_btn:hover {
    background: #2959C1; /* Change le bleu pour un ton plus lumineux au survol */
    border: 1px solid #66B7AD; /* Accentue légèrement le contour au survol */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Accentue l'ombre au survol pour un effet subtil */
}

.btn2 {
    background: #1E3A8A;
    background: linear-gradient(90deg,#1E3A8A 0%, #1E3A8A 100%);
    padding: 15px 18px;
    border-radius: 5px;
    border: 2px solid white;
    width: 100px;
    text-align: center;
}

.btn2:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    background: linear-gradient(90deg, rgba(67,67,67,1) 60%, rgba(0,0,0,1) 100%);
}

.liste_btn {
    display: flex;
    width: 100%;
    gap: 15px;
}

.blob_header {
    position: absolute;
    bottom: 90; /* Positionne le SVG en bas de la page */
    right: 0;
    z-index: -1; /* Assure que le SVG reste en arrière-plan */
}

.blob_header2 {
    position: absolute;
    bottom: 0px;
    rotate: 20deg;
    z-index: -1;
    width: 100%;

}

.blob_header3 {
    position: absolute;
    right: 20;
    width: 80%;
    height: auto;
    transform: scaleX(-2)translate(-60%, -60%) rotate(190deg); /* Positionne et fait pivoter le SVG */
    z-index: -1; /* Assure que le SVG reste en arrière-plan */
}

.a_propos {
    width: 50%;
    margin: 0 auto;
}

.a_propos>p {
    text-align: justify;
}

.a_propos>h2 {
    font-size: 20px;
}

.a_propos>h2>b {
    font-size: 35px;

}



.container {
    display: flex;
    flex-direction: column; /* Organiser les sections l'une sous l'autre */
    align-items: center; /* Centrer les sections horizontalement */
    width: 100%; /* Utiliser toute la largeur */
    margin: 80px 0; /* Marge pour espacer des sections */
}

.experience-section {
    display: flex; /* Utiliser flexbox pour aligner le contenu horizontalement */
    align-items: center; /* Centrer les éléments verticalement */
    margin: 80px 0; /* Marge pour espacer des sections */
    width: 80%; /* Ajustez la largeur selon vos besoins */
    background-color: transparent; /* Couleur de fond légèrement grise pour contraste */
}

.experience-title {
    font-family: 'Parisienne', cursive;
    font-size: 25px; /* Taille de la police pour le titre */
    font-weight: bold; /* Mettre le titre en gras */
    color: #333; /* Couleur du texte */
    margin-right: 20px; /* Marge à droite pour espacer le titre des logos */
}

.logo-container {
    display: flex;
    gap: 40px; /* Espace entre les logos */
    margin: 40px 0; /* Marge pour espacer des sections */
    background-color: transparent; /* Couleur de fond légèrement grise pour contraste */
}

.logo {
    width: 100px; /* Largeur fixe */
    height: 100px; /* Hauteur fixe */
    object-fit: contain; /* Maintient le ratio d'aspect tout en remplissant les dimensions */
    transition: transform 0.3s ease; /* Effet de transition */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombre plus subtile */
    padding: 10px; /* Ajout de padding pour éloigner le contenu de l'ombre */
}

.logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.education-section {
    font-family: 'Parisienne', cursive;
    display: flex;
    flex-direction: column; /* Aligner verticalement les éléments */
    align-items: center; /* Centre les éléments horizontalement dans le conteneur */
    margin: 50px auto; /* Marge verticale pour espacer des sections */
    padding: 10px; /* Ajouter un peu de padding */
    background-color: transparent; /* Couleur de fond légèrement grise pour contraste */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombre plus subtile */
    width: 35%; /* Largeur du conteneur */
    max-width: 800px; /* Limiter la largeur maximale */
    border-radius: 10px; /* Arrondir légèrement les coins */
}

.education-title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Parisienne', cursive;
    color: #333; /* Couleur du texte */
    margin: 10px 0; /* Espacement autour du titre */
}

.education-details p {
    font-size: 15px;
    line-height: 1.2;
    color: #555;
    margin-bottom: 20px;
}

.city {
    color: #66B7AD; /* Couleur des villes */
    font-weight: bold;
}

.skills-section {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    width: 37%;
    gap: 20px; /* Espace entre les deux conteneurs */
}

.skills-box {
    background: #1E3A8A; /* Dégradé de gris du haut vers le bas */
    border: 2px solid #ccc; /* Bordure grise */
    border-radius: 70px; /* Bord arrondi */
    padding: 5px;
    width: 45%; /* Les deux conteneurs prennent chacun environ 45% de l'espace */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Légère ombre pour un effet de profondeur */
    transition: transform 0.3s ease;
}

.skills-box:hover {
    transform: scale(1.05); /* Effet de zoom au survol */
}

.skills-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
    border-bottom: 2px solid hsl(0, 1%, 23%);
    padding-bottom: 10px;
}

.skills-box ul {
    list-style-type: none;
    margin: 0,1;
    text-align: center;
}

.skills-box ul li {
    font-size: 15px;
    line-height: 1.6;
    color: #f7f3f3;
    padding-left: 3px;
    padding-right: 8px;
    position: relative;
    margin-bottom: 5px;
}

.skills-box ul li::before {
    content: '•'; /* Ajouter un point avant chaque élément */
    color: #ecf3f2;;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-2px);
    font-family: 'Parisienne', cursive; /* Appliquer la police */
}

.soft-skills h3 {
    color: hsl(0, 3%, 93%); /* Couleur différente pour le titre des Soft Skills */
    font-family: 'Parisienne', cursive; /* Appliquer la police */
}

.hard-skills h3 {
    color: hsl(0, 0%, 100%); /* Couleur différente pour le titre des Hard Skills */
    font-family: 'Parisienne', cursive; /* Appliquer la police */
}

.software-section {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
    width: 100%; /* S'assurer que la section prend toute la largeur */
    margin: 0; /* Supprimer toute marge qui pourrait restreindre la largeur */
    height: 100%; /* S'assurer que le corps prend toute la hauteur */
    font-family: 'Parisienne', cursive; /* Appliquer la police */
}

.software-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 50%;
    margin: 0 auto;            /* Centre horizontalement le conteneur sur la page */
    font-family: 'Parisienne', cursive; /* Appliquer la police */
}

.software-box {
    width: 100px;
    height: 100px;
    background:  #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Parisienne', cursive; /* Appliquer la police */
}

.software-box:hover {
    box-shadow: 0 0 20px #1E3A8A; /* Lueur bleue */
}

.software-box img {
    width: 100%;
    height: auto;
    max-height: 80px;
    object-fit: contain;
    font-family: 'Parisienne', cursive; /* Appliquer la police */
}

.software-box p {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-family: 'Parisienne', cursive; /* Appliquer la police */
}
